* {
    margin: 0;
    transition: all 0.5s;
}

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

html {
    background-image: linear-gradient( 112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

.sidebar {
    height: 100%;
    width: 300px;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.hidden-sidebar {
    width: 0;
}

.sidebar-spacer {
    background-color: #818181;
    height: 2px;
    display: block;
}

.sidebar-element {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    text-align: left;
    background-color: transparent;
    color: #818181;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
}

.sidebar-element:hover {
    color: #f1f1f1;
}

.sidebar-element:active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    padding-left: 8px;
}

.hidden-dropdown-container {
    display: none;
}

.caret-down {
    float: right;
    display: inline;
    padding-right: 8px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    display: block;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.modal {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.hidden-modal {
    display: none;
}

.dialog-window {
    padding: 10px 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min(60vh, 60vw);
    width: min(60vh, 60vw);
    top: 50%;
    left: 50%;
    margin-left: calc(min(60vh, 60vw) / -2);
    margin-top: calc(min(60vh, 60vw) / -2);
    z-index: 3;
    background: rgba(63, 76, 119, 1);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(44, 53, 83);
    border-width: 2px;
}

.dialog-content {
    width: 100%;
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
}

.dialog-button {
    width: 100%;
    flex-grow: 1;
    font-size: 100%;
    border-radius: 20px;
    color: #B1B1B1;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.dialog-button:hover {
    background-color: green;
}

.hidden-dialog {
    display: none;
}

.dialog-title {
    text-align: center;
    color: #d3d3d3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.dialog-color-picker {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
}

.dialog-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: .7;
}

.dialog-slider:hover {
    opacity: 1;
}

.dialog-slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider-label {
    font-family: Arial, Helvetica, sans-serif;
    color: #B1B1B1;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

#main-screen {
    height: calc(100%);
    width: calc(100%);
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}